#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#canvas {
  background-image: url(../img/back.jpg);
  background-size: contain;
}

.element {
  width: 80px;
  position: absolute;
}

.points {
  background-color: #000;
  border: 2px solid #FFF;
  width: 100px;
  height: 50px;
  font-size: 15px;
  border-collapse: collapse;
  text-align: center;
}

.point-good {
  color: #FFF;
  width: 49%;
  height: inherit;
  border: 2px solid #FFF;
}

.point-bad {
  color: #FFF;
  width: 49%;
  height: inherit;
  border: 2px solid #FFF;
}

.hidden {
	display: none;
}

.grid {
	height: 100%;
}

.grid > div {
	height: 100%;
}

.menu-button {
	display: block;
	width: 300px;
	margin: 300px auto 0 auto;
	border-radius: 5px;
  background-color: #f8d09a;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0 2px #eb893d;
}

.reload-button, .play-again, .serie-again, #text button {
  padding: 5px 8px 5px 8px;
  font-size: 20px;
  margin: 10px 5px 10px 5px;
}

.reload {
  font-size: 20px;
  margin: 0 5px 0 5px;
  position: absolute;
  padding: 5px 8px 5px 8px;
  bottom:5px;
  margin-left: 10px;
  font-size: 20px;
  right: 5px;
  float: none;
}
.button-number {
  display: block;
  width: 80px;
  height: 120px;
  background-color: transparent !important;
  background: url('../img/off.png') no-repeat center center;
  font-size: 40px;
  color: #000;
  font-weight: bold;
  border: none !important;
  outline: 0 !important;
}

.button-number:hover, .button-number:active {
  border: none !important;
}

.active {
  background: url('../img/on.png') no-repeat center center !important;
}

.msg {
  width: 400px;
  margin: 10px auto 0 auto;
}

.msg h1 {
  text-align: center;
  color: #fff;
}

.win {
  background-color: #8fbd1c;
  position: relative;
  z-index: 1000;
  width: 500px;
  height: 300px;
  margin: 30px auto 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 80px;
  font-size: 20px;
  border-radius: 20px;
}

.element input {
  width: 50px;
  position: absolute;
  top: 50px;
  left: 15px;
}

#text {
  position: absolute;
  bottom: 100px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
